<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.ebing.dog.api.mapper.KeyCustomerMapper">

    <resultMap id="entity" type="KeyCustomerEntity">
        <result property="id" column="id"/>
        <result property="produceCode" column="produceCode"/>
        <result property="produceName" column="produceName"/>
        <result property="buyUnitCode" column="buyUnitCode"/>
        <result property="buyUnitName" column="buyUnitName"/>

        <result property="someInfo" column="someInfo"/>
        <result property="modelId" column="modelId"/>

        <result property="saleNumber" column="saleNumber"/>
        <result property="saleTotalPrice" column="saleTotalPrice"/>
        <result property="saleUnitPrice" column="saleUnitPrice"/>

        <result property="customerContactInfo" column="customerContactInfo"/>
        <result property="customerAddress" column="customerAddress"/>
        <result property="customerTel" column="customerTel"/>

        <result property="buyUnitPrice" column="buyUnitPrice"/>
        <result property="minBuyNumber" column="minBuyNumber"/>

        <result property="buySaleUnitPrice" column="buySaleUnitPrice"/>

    </resultMap>

    <sql id="tableName">`tbl_key_customer`</sql>

    <insert id="insertMany" useGeneratedKeys="true" parameterType="KeyCustomerEntity">
        INSERT INTO
        <include refid="tableName"/>
        (`produceCode`, `produceName`, `buyUnitCode`,
            `buyUnitName`, `someInfo`, `modelId`,
        `saleNumber`, `saleTotalPrice`, `saleUnitPrice`,
        `customerContactInfo`, `customerAddress`, `customerTel`,
        `buyUnitPrice`, `minBuyNumber`, `buySaleUnitPrice`)
        VALUES
        <foreach item="it" index="index" collection="entities" open="" separator="," close="">
            (#{it.produceCode}, #{it.produceName}, #{it.buyUnitCode},
            #{it.buyUnitName}, #{it.someInfo}, #{it.modelId},
            #{it.saleNumber}, #{it.saleTotalPrice}, #{it.saleUnitPrice},
            #{it.customerContactInfo}, #{it.customerAddress}, #{it.customerTel},
            #{it.buyUnitPrice}, #{it.minBuyNumber}, #{it.buySaleUnitPrice})
        </foreach>
    </insert>

    <update id="updateMany" parameterType="java.util.Map">
        <foreach collection="entities" index="index" item="item" separator=";">
            UPDATE
            <include refid="tableName"/>
            SET
            `buyUnitPrice` = #{item.buyUnitPrice},
            `minBuyNumber` = #{item.minBuyNumber}
            where
            `modelId` = #{item.modelId}
        </foreach>
    </update>

</mapper>