<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.ebing.dog.api.mapper.UserMapper">

    <resultMap id="entityMap" type="UserEntity">
        <result property="id" column="id"/>
        <result property="sex" column="sex"/>
        <result property="name" column="name"/>
        <result property="age" column="age"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <sql id="selectColumns">
        `id`,
        `name`,
        `age`,
        `sex`,
        `create_time`,
        `update_time`
    </sql>

    <sql id="tableName">`tbl_user`</sql>

    <select id="getById" resultMap="entityMap">
        SELECT
        <include refid="selectColumns"/>
        FROM
        <include refid="tableName"/>
        WHERE `id` = #{id}
    </select>

    <select id="listByQuery" resultMap="entityMap">
        SELECT
        <include refid="selectColumns"/>
        FROM
        <include refid="tableName"/>
        where
          create_time >= #{minCreateTime}
    </select>

    <insert id="addOne" useGeneratedKeys="true" keyProperty="id" parameterType="UserEntity">
        INSERT INTO
        <include refid="tableName"/>
        (
        `sex`,
        `age`,
        `name`
        )
        VALUES
        (
        #{sex},
        #{age},
        #{name}
        )
    </insert>

    <update id="updateOne" parameterType="UserEntity">
        UPDATE
        <include refid="tableName"/>
        SET
        `age` = #{age},
        `sex` = #{sex},
        `name` = #{name}
        WHERE
        `id` = #{id}
    </update>

    <delete id="deleteById">
        DELETE FROM
        <include refid="tableName"/>
        WHERE `id` = #{id}
    </delete>

</mapper>